<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle for Employment</title>
  <link rel="stylesheet" href="/assets/css/jass.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

    <header id="pageHeader" class="display-flex justify-space-between align-center p-2">
      <h1 class="pageTitle">
        <a class="aTitle" href="/">Battle for Employment</a>
      </h1>
      <nav>
        {{#if logged_in}}
        <a class="databaseTitle" href="/database">Database</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a class="loginButton" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>

  {{#if logged_in}}
  <script src="/assets/js/logout.js"></script>
  {{/if}}

</html>