<body class="victoryBackground">

<div class="victoryContainer">
    <h2>To play again reset you progress with the button!</h2>
    <button class="victoryButton">Reset Progress</button>
</div>

</body>
<script src="/assets/js/victory.js"></script>
